html,
body,
#__nuxt {
  display: block;
  height: 100%;
  width: 100%;
  overflow: visible;
  background-color: #e0e0e0;
  color: #0a0a0a;
  font-family: 'Helvetica Neue', 'Arial', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}
