@media print {
    @page {
        size: A4;
        margin: 12mm 12mm;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        page-break-after: avoid;
        page-break-inside: avoid;
    }
    p,
    blockquote,
    ul,
    ol,
    dl,
    figure,
    table,
    pre {
        page-break-inside: avoid;
    }
    .header,
    .section-title {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    #__nuxt {
        padding: 0 32px;
        min-height: 100vh;
        background-color: theme(bg_surface);
    }
    code {
        background-color: #244995;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
